name: Build and Release SuperFlex

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true
        default: "3.0.0"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Rename and zip folder
        run: |
          cp -r dist superflex
          zip -r superflex.zip superflex
          rm -rf superflex

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Generate Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v4
        with:
          configuration: ".github/changelog-config.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.inputs.version || format('v{0}', github.run_number) }}
          name: SuperFlex ${{ github.event.inputs.version || format('v{0}', github.run_number) }}
          body: ${{ steps.build_changelog.outputs.changelog }}
          files: superflex.zip
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
